language: rust

cache:
  - cargo

before_deploy:
  - cargo doc
  - mkdir public
  - cp -r target/doc/* public/
  - pwd
  - ls
  - for day in day*; do cp -r ${day}/target/criterion/* public/; done
  - echo "<meta http-equiv=refresh content=0;url=day01/index.html>" > public/index.html

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  
  keep-history: false  
  local-dir: public
  on:
    branch: master
